from __future__ import annotations

from pydantic import BaseModel, ConfigDict{% if has_field_constraints %}, Field{% endif %}

{% for imp in imports %}
{{ imp }}
{% endfor %}


class {{ entity.class_name }}Create(BaseModel):
{% for rel in entity.relations if rel.type in ("many_to_one", "one_to_one") %}
    {{ rel.field_name }}_id: {{ id_type }}
{% endfor %}
{% for field in entity.fields %}
{% if not field.is_null %}
    {{ field.name }}: {{ field_types[field.name] }}{{ field_kwargs_create[field.name] }}
{% endif %}
{% endfor %}
{% for field in entity.fields %}
{% if field.is_null %}
    {{ field.name }}: {{ field_types[field.name] }} | None{{ field_kwargs_update[field.name] }}{{ " = None" if not field_kwargs_update[field.name] else "" }}
{% endif %}
{% endfor %}


class {{ entity.class_name }}Update(BaseModel):
{% for rel in entity.relations if rel.type in ("many_to_one", "one_to_one") %}
    {{ rel.field_name }}_id: {{ id_type }} | None = None
{% endfor %}
{% for field in entity.fields %}
    {{ field.name }}: {{ field_types[field.name] }} | None{{ field_kwargs_update[field.name] }}{{ " = None" if not field_kwargs_update[field.name] else "" }}
{% endfor %}


class {{ entity.class_name }}Response(BaseModel):
    model_config = ConfigDict(from_attributes=True)

    id: {{ id_type }}
{% for rel in entity.relations if rel.type in ("many_to_one", "one_to_one") %}
    {{ rel.field_name }}_id: {{ id_type }} | None = None
{% endfor %}
{% for field in entity.fields %}
    {{ field.name }}: {{ field_types[field.name] }}{{ " | None" if field.is_null else "" }}
{% endfor %}
