{%- raw %}{% extends "base.html" %}

{% block title %}{% endraw %}{{ app_name }}{% raw %}{% endblock %}

{% block content %}{% endraw %}
<h1>{{ app_name }}</h1>
<div class="card-grid">
{% for entity in entities %}
    <div class="card">
        <div class="card-body">
            <div class="entity-icon">{{ entity.class_name[0] }}</div>
            <h5 class="card-title">{% raw %}{{ t("{% endraw %}{{ entity.name }}{% raw %}._label") }}{% endraw %}</h5>
            <a href="/{{ entity.name }}" class="btn btn-primary">{% raw %}{{ t("common.manage") }}{% endraw %}</a>
        </div>
    </div>
{% endfor %}
</div>
{% raw %}{% endblock %}{% endraw %}
